In [41]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns


stageB= pd.read_csv('downloads/energydata_complete.csv')

stageB.tail()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.7,...,23.2,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.7,...,23.2,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.7,...,23.2,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.7,...,23.2,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.7,...,23.2,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [42]:
stageB.shape

(19735, 29)

T1, Temperature in kitchen area, in Celsius
RH_1, Humidity in kitchen area, in %
T2, Temperature in living room area, in Celsius
RH_2, Humidity in living room area, in %
T3, Temperature in laundry room area
RH_3, Humidity in laundry room area, in %
T4, Temperature in office room, in Celsius
RH_4, Humidity in office room, in %
T5, Temperature in bathroom, in Celsius
RH_5, Humidity in bathroom, in %
T6, Temperature outside the building (north side), in Celsius
RH_6, Humidity outside the building (north side), in %
T7, Temperature in ironing room , in Celsius
RH_7, Humidity in ironing room, in %
T8, Temperature in teenager room 2, in Celsius
RH_8, Humidity in teenager room 2, in %
T9, Temperature in parents room, in Celsius
RH_9, Humidity in parents room, in %
To, Temperature outside (from Chievres weather station), in Celsius
Pressure (from Chievres weather station), in mm Hg
RH_out, Humidity outside (from Chievres weather station), in %
Wind speed (from Chievres weather station), in m/s
Visibility (from Chievres weather station), in km
Tdewpoint (from Chievres weather station), Â°C
rv1, Random variable 1, nondimensional
rv2, Random variable 2, nondimensional

In [43]:
columns_names={'T1': 'Temp_kaCel' , 'RH_1':'Hum_ka%', 'T2':'Temp_laCel', 'RH_2': 'Hum_la%', 
         'T3': 'Temp_laaCel' , 'RH_3':'Hum_laa%', 'T4':'Temp_orCel', 'RH_4': 'Hum_or%',
         'T5': 'Temp_brCel' , 'RH_5':'Hum_br%', 'T6':'Temp_obnCel', 'RH_6': 'Hum_obn%',
         'T7': 'Temp_irCel' , 'RH_7':'Hum_ir%', 'T8':'Temp_trCel', 'RH_8': 'Hum_tr%',
         'T9': 'Temp_prCel' , 'RH_9':'Hum_pr%'}
stageB= stageB.rename(columns= columns_names)

In [21]:
stageB.head()

,date,Appliances,lights,Temp_kaCel,Hum_ka%,Temp_laCel,Hum_la%,Temp_laaCel,Hum_laa%,Temp_orCel,...,Temp_prCel,Hum_pr%,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [44]:
ve= stageB.drop(columns= ['date','lights'])
ve

,Appliances,Temp_kaCel,Hum_ka%,Temp_laCel,Hum_la%,Temp_laaCel,Hum_laa%,Temp_orCel,Hum_or%,Temp_brCel,...,Temp_prCel,Hum_pr%,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,60,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,50,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,50,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,60,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,100,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,45.590000,23.200000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,90,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,45.590000,23.230000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,270,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,45.730000,23.230000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,420,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,45.790000,23.200000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,430,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,45.963333,23.200000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

# Question 12

In [45]:
from sklearn.preprocessing import MinMaxScaler
scaler= MinMaxScaler()
nom_df= pd.DataFrame(scaler.fit_transform(ve), columns=ve.columns)
feat_df= nom_df.drop(columns= ['Temp_laCel','Temp_obnCel'])
app_target= nom_df['Temp_obnCel']

In [55]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(feat_df, app_target, test_size= 0.3, random_state= 42)

In [58]:
from sklearn.linear_model import LinearRegression
model= LinearRegression()
model.fit(x_train,y_train)
pred_values = model.predict(x_test)

In [59]:
from sklearn.metrics import r2_score
r2= r2_score(y_test, pred_values)
round(r2,2)

0.15

In [60]:
from sklearn.preprocessing import MinMaxScaler
scaler= MinMaxScaler()
nom_df= pd.DataFrame(scaler.fit_transform(ve), columns=ve.columns)
feat_df= nom_df.drop(columns= ['Appliances'])
app_target= nom_df['Appliances']

In [61]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(feat_df, app_target, test_size= 0.3, random_state= 42)

In [63]:
from sklearn.linear_model import LinearRegression
model= LinearRegression()
model.fit(x_train,y_train)
pred_value= model.predict(x_test)

# Question 13

In [65]:
from sklearn.metrics import mean_absolute_error
mae= mean_absolute_error(y_test, pred_value)
round(mae,2)

0.05

#  Question 14

In [67]:
rss= np.sum(np.square(y_test - pred_values))
round(rss, 2)

45.35

# Question 15

In [68]:
from sklearn.metrics import mean_squared_error
rmse= np.sqrt(mean_squared_error(y_test, pred_values))
round(rmse,3)

0.088

# Question 16

In [69]:
from sklearn.metrics import r2_score
r2= r2_score(y_test, pred_values)
round(r2,2)

0.15

In [84]:
def get_weights_df(model, feat, col_name):
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

linear_model_weights = get_weights_df(model, x_train, 'Linear_Model_Weight')

In [71]:
from sklearn.linear_model import Lasso
l_reg = Lasso(alpha=0.001)
l_reg.fit(x_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

# Question 20

In [85]:
from sklearn.metrics import mean_squared_error
rmse= np.sqrt(mean_squared_error(y_test, pred_values))
round(rmse,3)

0.088

# Question 18

In [90]:
from sklearn.linear_model import Ridge
rid = Ridge(alpha=0.4)
rid.fit(x_train, y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [86]:
from sklearn.metrics import mean_squared_error
rmse= np.sqrt(mean_squared_error(y_test, pred_values))
round(rmse,3)

0.088

# Question 19

In [91]:
rid_weights_df = get_weights_df(rid, x_train, 'Ridge_Weight')
l_weights_df = get_weights_df(l_reg, x_train, 'Lasso_weight')
l_weights_df

       Features  Lasso_weight
0        RH_out     -0.049557
1       Hum_tr%     -0.000110
2    Temp_kaCel      0.000000
3     Tdewpoint      0.000000
4    Visibility      0.000000
5   Press_mm_hg     -0.000000
6         T_out      0.000000
7       Hum_pr%     -0.000000
8    Temp_prCel     -0.000000
9    Temp_trCel      0.000000
10      Hum_ir%     -0.000000
11          rv1     -0.000000
12   Temp_irCel     -0.000000
13  Temp_obnCel      0.000000
14      Hum_br%      0.000000
15   Temp_brCel     -0.000000
16      Hum_or%      0.000000
17   Temp_orCel     -0.000000
18     Hum_laa%      0.000000
19  Temp_laaCel      0.000000
20      Hum_la%     -0.000000
21   Temp_laCel      0.000000
22     Hum_obn%     -0.000000
23          rv2     -0.000000
24    Windspeed      0.002912
25      Hum_ka%      0.017880

In [81]:
rid_weights_df

       Features  Ridge_Weight
0       Hum_la%     -0.411071
1         T_out     -0.262172
2    Temp_laCel     -0.201397
3    Temp_prCel     -0.188916
4       Hum_tr%     -0.156830
5        RH_out     -0.054724
6       Hum_ir%     -0.045977
7       Hum_pr%     -0.041367
8    Temp_brCel     -0.019853
9    Temp_kaCel     -0.018406
10          rv1      0.000748
11          rv2      0.000748
12  Press_mm_hg      0.006584
13   Temp_irCel      0.010098
14   Visibility      0.012076
15      Hum_br%      0.016152
16      Hum_or%      0.024579
17   Temp_orCel      0.027384
18    Windspeed      0.030268
19     Hum_obn%      0.035519
20    Tdewpoint      0.083128
21     Hum_laa%      0.095135
22   Temp_trCel      0.101028
23  Temp_obnCel      0.217292
24  Temp_laaCel      0.288087
25      Hum_ka%      0.519525

# Question 17

In [82]:
final_weights = pd.merge(linear_model_weights, rid_weights_df, on='Features')
final_weights = pd.merge(final_weights, l_weights_df, on='Features')
final_weights

       Features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
0       Hum_la%            -0.456698     -0.411071     -0.000000
1         T_out            -0.321860     -0.262172      0.000000
2    Temp_laCel            -0.236178     -0.201397      0.000000
3    Temp_prCel            -0.189941     -0.188916     -0.000000
4       Hum_tr%            -0.157595     -0.156830     -0.000110
5        RH_out            -0.077671     -0.054724     -0.049557
6       Hum_ir%            -0.044614     -0.045977     -0.000000
7       Hum_pr%            -0.039800     -0.041367     -0.000000
8    Temp_brCel            -0.015657     -0.019853     -0.000000
9    Temp_kaCel            -0.003281     -0.018406      0.000000
10          rv1             0.000770      0.000748     -0.000000
11          rv2             0.000770      0.000748     -0.000000
12  Press_mm_hg             0.006839      0.006584     -0.000000
13   Temp_irCel             0.010319      0.010098     -0.000000
14   Visibility             0.012307      0.012076      0.000000
15      Hum_br%             0.016006      0.016152      0.000000
16      Hum_or%             0.026386      0.024579      0.000000
17   Temp_orCel             0.028981      0.027384     -0.000000
18    Windspeed             0.029183      0.030268      0.002912
19     Hum_obn%             0.038049      0.035519     -0.000000
20     Hum_laa%             0.096048      0.095135      0.000000
21   Temp_trCel             0.101995      0.101028      0.000000
22    Tdewpoint             0.117758      0.083128      0.000000
23  Temp_obnCel             0.236425      0.217292      0.000000
24  Temp_laaCel             0.290627      0.288087      0.000000
25      Hum_ka%             0.553547      0.519525      0.017880